
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Argos Uploader</div>

    <div class="panel-body">

        <form class="container" method="post" @*action="@Url.Action("Upload", "Allocation)"*@>

            <div class="fileSelector">
                <h4>Select Upload File:</h4>
                <input class="btn btn-lg" type="file" name="name" value=" "/>
                <br/>
            </div>
            <h4>Designate Upload File Type:</h4>
            <div class="dropdown" style="margin-left: 15px;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Upload File Types
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Open Program Model Allocations</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Restrictions</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">etc...</a></li>
                </ul>
            </div>

            <input class="btn btn-default" type="button" value="Next (Option 1)" onclick="location.href = '@Url.Action("Upload", "Allocation")'" style="float: right"/>
            <br/>
            <br/>
            <input class="btn btn-default" type="button" value="Next (Option 2)" onclick="location.href = '@Url.Action("Upload2", "Allocation")'" style="float: right" />
            <br/>
            <br/>
            <input class="btn btn-default" type="button" value="Next (Option 3)" onclick="location.href = '@Url.Action("Upload3", "Allocation")'" style="float: right" />

            @*<input class="btn btn-lg" type="submit" value="Upload" style="float: right"/>
            <input class="btn btn-lg" type="submit" value="Upload" style="float: right"/>*@
        </form>

        <div>
            <br /><br /><br />
            <ul>
                <li>Options 1 and 2 would not be an ideal workflow if we still want to be able to upload valid accounts and display invalid accounts.</li>
                <li>Option 1 would not be able to give summary info such as accound level validation status</li>
                <li>Option 2 works better for grouping and sorting than option 1, but we would only be able to leverage excel export on an account by account basis.</li>
                <li>Option 3 enables us to upload valid data and display errors seperately to be exported to excel in order to fix and re-upload. No need for success page on this option.</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
