

<div class="panel panel-success">
    <div class="panel-heading">
        <h2>Allocations Uploaded</h2>
    </div>
    <div class="panel-body">
        <p>Your model allocations have been successfully saved to the database. You may close out of this window at any time, or return to the main uploader page.</p>
    </div>
</div>



